<nav class="navbar navbar-expand-lg  bg-white navbar-light fixed-top">
	<a href="index.html"><img class="navbar-brand" src="images/logo.png" alt="XLaundry"></a>
    <a class="brand-name" href="index.html">XLaundry</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarToggler">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/price">Price</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#one">How it works</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a href="/signup"><button type="button" class="btn btn-primary">Sign Up-></button></a>
        </li>
    </ul>
    </div>
</nav>