.header{
	background-color:#156fb8;
	padding: 15px;
	color: white;
	font-family:sans-serif;
}
.heading-display{
    display: inline-block;
}
.li1{
    margin: 0.3em 0;
}
.li2{
    margin-left: 10%;
}
.li3{
    margin-left: 15%;
}
.li4{
    margin-left: 30%;
    margin-right: 0.5%;
}
.li4 a{
    color: white;
}

.tabbed-pane{
	text-align: center;
}
a[data-toggle="tab"]{
	width:150px;
	margin: 0 5px;
}
ul.nav-pills{
	margin-top: 5%;
	margin-bottom: 5%;
	display: inline-block;
}




/*footer*/
footer{
	background-color:#156fb8;
	padding: 25px;
	color: white;
	font-family:sans-serif;
}
footer p{
	text-align: center;
	margin-bottom:0;
}
